/* Light and Dark Theme Variables */
:root {
  --bg-color: rgba(255, 255, 255, 0.75);
  --dot-color: var(--green-9);
}

.dark {
  --bg-color: rgba(0, 0, 0, 0.75);
}

html, body {
  height: 100svh;
  overflow-y: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

/* Chat Header */
.chat-header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0.75rem 2rem;
  background-color: var(--bg-color);
  border-bottom: 2px solid var(--gray-4);
}

.chat-avatar-container {
  position: relative;
  line-height: 0;
}

.chat-avatar-container img {
  border-radius: 50%;
}

.chat-avatar-container::after {
  content: "";
  position: absolute;
  bottom: -5%;
  right: -5%;
  width: 25%;
  height: 25%;
  background-color: var(--dot-color);
  border: 3px solid var(--gray-1);
  border-radius: 50%;
}

.chat-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}

.chat-name h1 {
  font-weight: 500;
  font-size: 1.2rem;
}

.chat-name span {
  font-size: 0.75rem;
  color: var(--gray-11);
}

.return-btn {
  padding: 0.25rem;
  line-height: 0;
  margin-left: auto;
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-out;
}

@media (hover: hover) {
  .return-btn:hover {
    background-color: var(--clickable-hover-bg);
  }
}

@media (hover: none) {
  .return-btn:active {
    background-color: var(--clickable-hover-bg);
  }
}

.return-btn:focus-visible {
  background-color: var(--clickable-hover-bg);
}

/* Chat Messages */
.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 0;
  background-image: linear-gradient(var(--orange-2), var(--green-2));
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0.5rem 0 1rem 0;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.message {
  padding: 0.75rem 1rem;
  margin: 1rem 1.5rem;
  overflow-wrap: break-word;
  max-width: calc(100% - 4rem);
}

.message p {
  padding: 0;
  margin: 0;
}

.message.kelvin {
  background-color: var(--orange-4);
  align-self: flex-start;
  border-radius: 1rem 1rem 1rem 0;
  margin-right: 4rem;
}

.message.user {
  white-space: pre-wrap;
  background-color: var(--green-4);
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  margin-left: 4rem;
}

/* Chat Input */
.chat-input {
  position: relative;
  flex-shrink: 0;
}

/* Energy Bar */
.energy-bar-container {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--gray-4);
}

.energy-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--green-5);
  transition: width 0.5s ease-out;
}

/* Input */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--bg-color);
  padding: 1.5rem;
}

.user-input {
  flex-grow: 1;
  min-width: 3rem;
  height: calc(2lh + 1rem);
  font-family: "Inter", sans-serif;
  background-color: var(--gray-1);
  color: var(--gray-12);
  font-size: 0.85rem;
  overflow-y: auto;
  resize: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--gray-6);
  border-radius: 0.75rem;
  margin: 0;
  transition:
    border 0.15s ease-out,
    box-shadow 0.15s ease-out;
}

.user-input:focus-visible {
  outline: 1px solid var(--green-4);
  border-color: var(--green-6);
  box-shadow: 0 0 10px var(--green-a4);
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--green-9);
  border: none;
  border-radius: 0.75rem;
  width: 2.25rem;
  height: calc(2lh + 1rem);
  margin: 0;
  padding: 0;
}

@media (hover: hover) {
  .send-btn:hover {
    background-color: var(--green-6);
  }
}

@media (hover: none) {
  .send-btn:active {
    background-color: var(--green-6);
  }
}

.send-btn:focus-visible,
.send-btn:disabled {
  background-color: var(--green-6);
}
