/* Reset Default Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Initial Settings */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

/* Default Margins */
p, blockquote, ul, ol, li, label, input, button, select {
	margin: 0.5rem 1.5rem;
}

/* Scroll Bar */


/* Body */
body {
  
	/* Background */
	background:
	linear-gradient(90deg, #ffffff26 3px, transparent 3px) center / 50px 50px repeat,
	linear-gradient(#ffffff26 3px, transparent 3px) center / 50px 50px repeat,
	linear-gradient(var(--iris-2), var(--iris-2)) center / cover no-repeat;

	/* Fonts */
	font-family: "Inter", sans-serif;
	line-height: 1.6;
	color: var(--gray-12);
	
}

/* Typography */
h1, h2, h3, h4, h5, h6, code {
	font-family: "Roboto Mono", monospace;
}

h1 { font-size: 1.4rem; }
h2 { font-size: 1.3rem; }
h3 { font-size: 1.15rem; }
h4 { font-size: 1rem; }
h5 { font-size: 0.75rem; }
h6 { font-size: 0.5rem; }
p { font-size: 1rem; }
ul { list-style: square; }

blockquote {
	border-left: 0.25rem solid var(--gray-6);
	padding-left: 1rem;
	color: var(--gray-11);
}

/* Sections */
section {
	padding: 1rem 0;
}

/* Images */
svg { display: block; }

.lg-3 { width: 3rem; height: 3rem; }
.lg-2 { width: 2.75rem; height: 2.75rem; }
.lg-1 { width: 2.5rem; height: 2.5rem; }

.md-3 { width: 2.25rem; height: 2.25rem; }
.md-2 { width: 2rem; height: 2rem; }
.md-1 { width: 1.75rem; height: 1.75rem; }

.sm-3 { width: 1.5rem; height: 1.5rem; }
.sm-2 { width: 1.25rem; height: 1.25rem; }
.sm-1 { width: 1rem; height: 1rem; }

/* Links */
a {
  color: var(--blue-9);
  text-decoration: none;
}

a:visited {
  color: var(--iris-9);
  text-decoration: none;
}

a:hover, a:active {
  color: var(--blue-11);
  text-decoration: underline;
}

a:visited:hover, a:visited:active {
  color: var(--iris-11);
  text-decoration: underline;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 1rem 1.75rem;
}

header a {
	display: block;
	line-height: 0;
}

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--gray-1);
	padding: 1rem;
}

footer p {
	font-size: 0.75rem;
	color: var(--gray-8);
}
