/* Titles */
h2 {
	padding: 0.5rem 1.5rem;
	margin-bottom: 1.5rem;
}

h3 {
	margin: 0.5rem 1.25rem;
}

.first-h2 {
	color: var(--purple-11);
	border-bottom: 3px solid var(--purple-4);
}

.second-h2 {
	color: var(--iris-11);
	border-bottom: 3px solid var(--iris-4);
}

.third-h2 {
	color: var(--blue-11);
	border-bottom: 3px solid var(--blue-4);
}

/* Highlights */
.gray-hl {
	display: inline;
	background: linear-gradient(var(--gray-5), var(--gray-5)) no-repeat 0% 100% / 100% 50%;
	padding: 0 0.25rem;
}

.blue-hl {
	display: inline;
	background: linear-gradient(var(--blue-4), var(--blue-4)) no-repeat 0% 100% / 100% 50%;
	padding: 0 0.25rem;
}

.yellow-hl {
	display: inline;
	background: linear-gradient(#ffff0026, #ffff0026) no-repeat 0% 100% / 100% 50%;
	padding: 0 0.25rem;
}

/* Sections */
.h3-section {
	padding-bottom: 1.5rem;
}

/* First Section */
section:first-of-type {
	position: relative;
	overflow: hidden;
	background:
	linear-gradient(90deg, color-mix(in srgb, var(--gray-1) 30%, transparent) 3px, transparent 3px) center / 50px 50px repeat,
	linear-gradient(color-mix(in srgb, var(--gray-1) 30%, transparent) 3px, transparent 3px) center / 50px 50px repeat,
	linear-gradient(var(--purple-3), var(--blue-3)) center / cover no-repeat;
	border-bottom: 5px solid var(--gray-1);
	padding: 0;
	font-family: "Roboto Mono", monospace;
}

section:first-of-type h1 {
	display: inline;
	color: var(--gray-11);
	background: linear-gradient(90deg, var(--purple-5), var(--blue-5)) no-repeat 0% 85% / 100% 30%;
	padding: 0 0.25rem;
}

/* tsParticles */
#tsParticles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.content {
	position: relative;
	z-index: 2;
}

/* Cards */
.cards {
	background-color: color-mix(in srgb, var(--gray-1) 30%, transparent);
	border: 3px solid var(--gray-1);
	border-radius: 1rem;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
	margin: 2rem 2rem 4rem 2rem;
	padding: 0.75rem 0.25rem;
	transition:
	background-color 0.3s ease-out,
	box-shadow 0.3s ease-out,
	transform 0.3s ease-out;
}

.cards p {
	color: var(--gray-11);
	font-weight: 600;
}

/* Hover Effects */
@media (hover: hover) {
	.cards:hover {
		background-color: color-mix(in srgb, var(--gray-1) 60%, transparent);
		box-shadow: 0 calc(5px + 0.25rem) 10px rgba(0, 0, 0, 0.05);
		transform: translateY(-0.5rem);
	}
}

@media (hover: none) {
	.cards:active {
		background-color: color-mix(in srgb, var(--gray-1) 60%, transparent);
		box-shadow: 0 calc(5px + 0.25rem) 10px rgba(0, 0, 0, 0.05);
		transform: translateY(-0.5rem);
	}
}

/* Cursor */
section:first-of-type, nav {
	-webkit-user-select: none;
	user-select: none;
}

/* Links */
.social-links {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin: 0.5rem 1.5rem;
}
