/* Reset Default Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  
  /* Colors */
	--grape-1: #f3d9fa;
	--grape-blue-1: #e1e2fd;
	--blue-1: #d0ebff;
	
	--grape-0: #f8f0fc;
	--grape-blue-0: #eff3fd;
	--blue-0: #e7f5ff;
	
	/* Variables */
	--nav-opacity: 0;
	
}

/* Hide Scroll Bar */
html, body { scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }

/* Body */
body {
	
	/* Background */
	background-image:
	linear-gradient(90deg, #ffffff33 3px, transparent 3px),
	linear-gradient(#ffffff33 3px, transparent 3px),
	linear-gradient(#ffffff80, #ffffff80),
	linear-gradient(var(--grape-0), var(--blue-0));
	background-repeat: repeat, repeat, no-repeat, no-repeat;
	background-size: 50px 50px, 50px 50px, cover, cover;
	background-position: center;

	/* Fonts */
	font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
	line-height: 1.6;
	color: #333;
	
	/* Tests */
	min-height: 300vh;
	
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2;
	padding: 1rem 1.5rem;
	background-color: #ffffffbf;
}

h1 { font-size: 1.4rem; }
h2 { font-size: 1.3rem; }
h3, h4, h5, h6 { font-size: 1.2rem; }
p { margin: 0.5rem 1.5rem; }

/* Sections */
section { padding: 0.5rem 0; }

/* Images */
.decodr-logo {
  height: 2rem;
  width: auto;
}

.lg-logo { width: 1.75rem; height: 1.75rem; }
.md-logo { width: 1.5rem; height: 1.5rem; }
.sm-logo { width: 1.25rem; height: 1.25rem; }

/* Links */
a {
	text-decoration: none;
	font-weight: 500;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 0.75rem 0;
}

/* Navigation Bar */
nav {
  
  /* Styles */
  background-color: rgba(255, 255, 255, calc(var(--nav-opacity) * 0.9));
  -webkit-backdrop-filter: blur(calc(var(--nav-opacity) * 5px));
	backdrop-filter: blur(calc(var(--nav-opacity) * 5px));
	box-shadow: 0 3px 0 rgba(0, 0, 0, calc(var(--nav-opacity) * 0.05));
	padding: 0.75rem 1.25rem;
	
  /* Sticky Bar */
  position: -webkit-sticky;
	position: sticky;
	width: 100%;
	z-index: 999;
	top: 0;
	
	/* Flexbox Display */
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

/* Horizontal Lines */
.hr-line {
	background-color: #555;
	height: 2px;
	border-radius: 1px;
	margin: 0 15px;
}

/* Footer */
footer {
	padding: 1rem;
	text-align: center;
}

footer p {
	font-size: 10px;
	color: #aaa;
}
