/* Reset Default Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables */
:root {
	--nav-opacity: 0;
}

/* Initial Settings */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
}

/* Hide Scroll Bar */
html, body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
	display: none;
}

/* Body */
body {
	
	/* Background */
	background-color: var(--iris-2);

	/* Fonts */
	font-family: "Inter", sans-serif;
	line-height: 1.6;
	color: var(--gray-12);
	
	/* Tests */
	min-height: 300vh;
	
}

/* Typography */
h2 {
  background-color: #ffffff99;
	font-size: 1.3rem;
	padding: 0.75rem 1.5rem;
	margin-bottom: 1rem;
}

h3 {
  display: inline;
  background: linear-gradient(#0000001a, #0000001a) no-repeat 0% 100% / 100% 50%;
  font-size: 1.15rem;
  padding: 0 0.25rem;
  margin: 0.5rem 1.25rem;
}

.first-h2 {
	color: var(--purple-11);
	border-bottom: 3px solid var(--purple-3);
}

.second-h2 {
	color: var(--iris-11);
	border-bottom: 3px solid var(--iris-3);
}

.third-h2 {
	color: var(--blue-11);
	border-bottom: 3px solid var(--blue-3);
}

p {
	margin: 0.5rem 1.5rem;
}

code {
	font-family: "Roboto Mono", monospace;
}

/* Sections */
section {
	padding: 1rem 0;
}

.h3-section {
  padding-bottom: 1.5rem;
}

/* First Section */
section:first-of-type {
	background:
	linear-gradient(90deg, #ffffff33 3px, transparent 3px) center / 50px 50px repeat,
	linear-gradient(#ffffff33 3px, transparent 3px) center / 50px 50px repeat,
	linear-gradient(var(--purple-3), var(--blue-3)) center / cover no-repeat;
	border-bottom: 5px solid #ffffff;
	font-family: "Roboto Mono", monospace;
}

section:first-of-type h1 {
  font-size: 1.4rem;
  padding: 1rem 1rem 0 1rem;
  margin: 0.75rem 1.5rem;
}

section:first-of-type h1 span {
	display: block;
}

.greeting {
	font-size: 1.3rem;
	color: var(--gray-8);
}

.name {
	font-size: 2rem;
	background: linear-gradient(var(--purple-8), var(--blue-8));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: drop-shadow(-3px 3px 0px #0000001a);
}

/* Intro Card */
.intro {
	position: relative;
	overflow: hidden;
	z-index: 1;
	background-color: #ffffff40;
	border: 3px solid #ffffff;
	border-radius: 1rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
	margin: 2rem 2rem 3rem 2rem;
	padding: 0.75rem 0.25rem;
}

.intro::after {
  content: "";
  mask: url("assets/images/card-icons/file.svg") bottom right / contain no-repeat;
  background-color: #0000000d;
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -30px;
  right: -30px;
  transform: rotate(-15deg);
  z-index: -1;
}

.intro p {
  color: var(--gray-11);
	font-weight: 600;
}

/* Images */
svg {
  display: block;
}

.lg-logo {
	width: 1.75rem;
	height: 1.75rem;
}

.md-logo {
	width: 1.5rem;
	height: 1.5rem;
}

.sm-logo {
	width: 1.25rem;
	height: 1.25rem;
}

/* Links */
a {
  color: var(--blue-9);
  text-decoration: none;
}

a:visited {
  color: var(--iris-9);
}

a:hover, a:active {
  color: var(--blue-11);
  text-decoration: underline;
}

a:visited:hover, a:visited:active {
  color: var(--iris-11);
  text-decoration: underline;
}

.social-links {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin: 1rem 1.5rem;
}

/* Navigation Bar */
nav {
	
	/* Styles */
	background-color: rgba(255, 255, 255, 0.8);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
	padding: 0.75rem 1.25rem;
	
	/* Sticky Bar */
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	z-index: 999;
	top: 0;
	
	/* Flexbox Display */
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

nav a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--gray-12);
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  text-decoration: none;
}

/* Footer */
footer {
	padding: 1rem;
	text-align: center;
}

footer p {
	font-size: 0.65rem;
	color: var(--gray-8);
}
