/* Reset Default Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Colors */
:root {
	--bg-pink: #fef5ff;
	--bg-blue: #f9ffff;
}

/* Hide Scroll Bar */
html, body { scrollbar-width: none; -ms-overflow-style: none; }
html::-webkit-scrollbar, body::-webkit-scrollbar { display: none; }

/* Body */
body {
  
  /* Gradient Background */
  background:
  linear-gradient(to bottom, var(--bg-pink), var(--bg-blue))
  ;
	
  /* Fonts */
	font-family: BlinkMacSystemFont, 'Segoe UI', sans-serif;
	line-height: 1.6;
	color: #333;
	
	/* Tests */
	min-height: 150vh;
	
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2;
	margin: 1rem 1.5rem;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.17em; }
h3 { font-size: 1em; }
h4 { font-size: 0.83em; }
h5 { font-size: 0.67em; }
h6 { font-size: 0.6em; }

p, ul, ol, li {
	margin: 0.5rem 1.5rem;
}

ul { list-style-type: disc; }
.nested-list { margin-left: 0; }
.no-margin { margin: 0; }

.explanation {
	color: #999;
	font-weight: 400;
	font-size: 12px;
}

/* Sections */
section {
	margin-bottom: 3rem;
}

/* Images */
.icon-text {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.icon-text svg {
	width: 1.25em;
	height: 1.25em;
}

/* Links */
a {
	text-decoration: none;
	font-weight: 500;
}

.social-link {
	display: inline-block;
	margin: 0.5rem;
	width: 30px;
	height: 30px;
}

/* Navigation Bar */
nav {
	position: sticky;
	width: 100%;
	top: 0;
	padding: 0.5rem 1rem;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.97);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.nav-title {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2;
}

/* Vertical Lines */
.ver-line {
	background-color: #555;
	height: 2px;
	width: calc(100% - 30px);
	margin: 0 15px;
	border-radius: 1px;
}

.ver-line-2 {
	background-color: #444;
	height: 2px;
	width: calc(100% - 40px);
	margin: 0 20px;
	border-radius: 1px;
}

/* Footer */
footer {
	padding: 1rem;
	text-align: center;
}

footer p {
	font-size: 10px;
	color: #aaa;
}
